@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
header {
    display: flex;
}
header img {
    height: 80px;
    width: auto;
}
body {
    margin-left: 30px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #00ffff;
}
p {
    font-size: medium;
}

.nav-bar {
    overflow: hidden;
    border: 5px;
    border-color: rgb(255, 0, 0);
    text-align: right;
    display: flex;
    /*make responsive on different screen sizes*/
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}
.nav-bar a {
    float: left;
    font-size: 25px;
    padding: 10px 10px;
    text-align: center;
    color: #23274d;
    text-decoration: none;
}

.nav-bar a:hover {
    background-color: rgb(1, 139, 237);
    color: #00ffff;
}

.nav-bar li {
    list-style: none;
    background-color: #00ffff;
    text-align: center;
    color: rgb(255, 0, 0);
    padding: 0;
    margin: 0;
    display: inline-block;
    flex-direction: column;
}
.nav-bar img {
    height: 80px;
    width: auto;
}

#main-logo {
    float: inline-start;
    font-size: 250%;

}
.gallery {
    display: flex;
    flex-direction: column;
    /* width:320px; */
    /* flex-wrap:wrap; */
    /* justify-content:last baseline; */
    align-items: center;
    max-width: 100%;
    height: auto;

}
.gallery-items {
    display: flex;
    flex-direction: row;
    width: 90%;
}
.gallery-items img {
    width: 50%;
    height: auto;
    padding-right: 50px;
    padding-bottom: 10px;
}
.gallery-items p {
    margin: auto;
    padding: 0;
}
div p {
    /* position:relative; */
    width: 320px;
    text-align: justify;
}
#hero-larger {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/Commodore_Hero_Image.jpg") no-repeat center center;
    animation-name: hero-zoom-in;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}
@keyframes hero-zoom-in {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }

}
#hero-text h2 {
    color: white;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 120%;
    letter-spacing: 6px;
    padding-top: 25px;
    padding-left: 10px;
    width: 200px;
    height: 120px;
    bottom: 40px;
    right: 140px;
    position: absolute;
    background-color: rgba(0, 255, 255, 0.5);



}
hr {
    border-top: 3px solid #00ffff;
    width: 100%;
    margin: 5px 0;

}
/* Contact form */

/* styled to match footer and header colors */
#contact-form {
    margin-top: 50px;
    border-radius: 5px;
    background-color: rgb(1, 139, 237);
    padding: 20px;
    margin-bottom: 20px;
    color: black;
}
/* styling for form elements */
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
/* styled to give 3d effect on contact form submit button */
#contact-form button[type=submit] {
    background-color: white;
    padding: 12px 20px;
    border: solid;
    border-style: groove;
    border-radius: 4px;
    cursor: default;
}